{
    "role": "client",
    "server": "{SERVERIP}:{SERVERPORT}",
    "tun": "10.0.0.22/8",
    "tunname": "tun0",
    "ptcpinterface": "{INTERFACE}",
    "dns": "8.8.8.8",
    "mtu": 1400,
    "protocol": "ptcp",
    "tokens": {TOKENS}
}
